<launch>
    <node name="dynamixel_manager"
          pkg="dynamixel_controllers"
          type="controller_manager.py"
          required="true" output="screen">
          
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                pan_tilt_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 57142
                    min_motor_id: 1
                    max_motor_id: 25
                    update_rate: 20
        </rosparam>
    </node>

    <!-- Start pan joint controller -->
    <rosparam file="/home/pi/catkin_ws/src/BalanceBot/launch/tilt1.yaml" command="load"/>
    <node name="pan_controller_spawner1" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
                pan_controller1"
          output="screen"/>
          
    <!-- Start pan joint controller -->
    <rosparam file="/home/pi/catkin_ws/src/BalanceBot/launch/tilt2.yaml" command="load"/>
    <node name="pan_controller_spawner2" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
                pan_controller2"
          output="screen"/>
          
    <!-- Start pan joint controller -->
    <rosparam file="/home/pi/catkin_ws/src/BalanceBot/launch/tilt3.yaml" command="load"/>
    <node name="pan_controller_spawner3" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port    
                pan_controller3"
          output="screen"/>
          
 <!--   <node name="control" pkg="balance_bot" type="control_node" required="true" output="screen" /> -->
</launch>
